/* styles/footer.module.css */
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 34px;
  margin: 15px;
}

.socials {
  display: flex;
  gap: 15px;
}

.facebook,
.twitter,
.instagram,
.linkedin {
  position: relative;
  width: 20px;
  height: 20px;
}

.facebookImg,
.TwitterImg,
.InstagramImg,
.linkedinImg {
  object-fit: contain;
  width: 20px;
  height: 20px;
}


@media (max-width: 430px) {
  .main {
    height: auto;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
}