/* styles/navbar.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Mainbackground);
  width: 100%;
  height: 100px;
  position: relative;
}

.logo {
  position: relative;
  width: 213px;
}